body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1f1f1f;
  color: #f1f1f1;
}

.square {
  border: 1px solid #f1f1f1;
  width: calc(100% / 3);
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Centy Gothic", Futura, sans-serif;
}

.board-row {
  display: flex;
  justify-content: center;
}

.board-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  padding: 40px 30px;
  width: 300px;
  border-radius: 20px;
}

.board-card h1 {
  margin-top: 0;
  font-size: 1.5em;
}

.reset-button {
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
  border-radius: 40px;
  background-color: #1bbbd0;
  color: #f1f1f1;
  font-size: 1.5em;
  border: none;
}

.reset-button:hover {
  background-color: #17636d;
  cursor: pointer;
}

.reset-button:click {
  background-color: #1bbbd0;
}

.reset-button.disabled {
  background-color: #1f1f1f;
}

.history-container{
  width: 100%;
}

.match-history{
  display: flex;
  justify-content: space-between;
  width: calc(100% - 60px);
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 20px;
}

.match-history:hover{
  background-color: #212121;
}